@reference "../../styles/globals.css";

.noise {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110lvh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 99999999;
  user-select: none;
}

.background {
  position: fixed;
  width: 100%;
  height: 110lvh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
  @apply bg-background;
}

.noise .noiseImageWrapper {
  position: absolute;
  object-fit: fill;
  max-width: none;
  height: 200%;
  width: 200%;
}

@media (prefers-reduced-motion: reduce) {
  .noise .noiseImageWrapper {
    animation: none;
  }
}

:global(.dark) .noiseForText {
  mix-blend-mode: multiply;
}

:global(.dark) .noiseForText .noiseImageWrapper {
  opacity: 0.1;
  filter: brightness(5.5) contrast(1);
}

:global(.dark) .noiseForRest {
  mix-blend-mode: screen;
}

:global(.dark) .noiseForRest .noiseImageWrapper {
  opacity: 0.05;
  filter: brightness(1.5) contrast(1);
}

.noiseForText {
  mix-blend-mode: lighten;
}

.noiseForText .noiseImageWrapper {
  opacity: 0.1;
  filter: brightness(5.5) contrast(1);
}

.noiseForRest {
  mix-blend-mode: darken;
}

.noiseForRest .noiseImageWrapper {
  opacity: 0.05;
  filter: brightness(3) contrast(1) invert(1);
}
