@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 100% 98%;
    --foreground: 224 71.4% 4.1%;
    --foreground-contrast: 246 40% 98%;

    --muted: 246 14.3% 95.9%;
    --muted-foreground: 246 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 246 13% 91%;
    --input: 246 13% 91%;

    --primary: 258 100% 60.1%;
    --primary-foreground: 246 100% 98%;

    --secondary: 246 14.3% 95.9%;
    --secondary-foreground: 246.9 39.3% 11%;

    --accent: 246 14.3% 93%;
    --accent-foreground: 246.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 217.9 10.6% 64.9%;

    --create: 142.43 71.81% 29.22%;
    --create-foreground: 142.43 40% 98%;

    --link-hover: 258 100% 40.1%;
  }
}

.dark {
  --background: 246 20% 7%;
  --foreground: 246 40% 98%;
  --foreground-contrast: 246 40% 98%;

  --muted: 246 27.9% 16.9%;
  --muted-foreground: 246 10.6% 64.9%;

  --popover: 224 71.4% 4.1%;
  --popover-foreground: 210 20% 98%;

  --card: 246 40% 4.9%;
  --card-foreground: 210 40% 98%;

  --border: 246 20% 16.9%;
  --input: 246 20% 16.9%;

  --primary: 246 100% 70.1%;
  --primary-foreground: 220.9 39.3% 11%;

  --secondary: 246 27.9% 16.9%;
  --secondary-foreground: 210 20% 98%;

  --accent: 246 30% 20%;
  --accent-foreground: 210 20% 98%;

  --destructive: 0deg 84.24% 60.2%;
  --destructive-foreground: 0 85.7% 97.3%;

  --create: 142.43 71.81% 29.22%;
  --create-foreground: 142.43 40% 98%;

  --ring: 215 27.9% 16.9%;

  --link-hover: 246 100% 80.1%;
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .link-text {
    @apply text-primary underline underline-offset-2 hover:text-link-hover focus-visible:text-link-hover transition-colors duration-200 select-auto;
  }

  .abs-center {
    @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}
